.user {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: white;
	padding: 10px;
	margin-bottom: 5px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.user .avatar_and_follow {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: transparent;
}
.user .avatar_and_follow .image_link {
	margin: 0;
	padding: 0;
	height: 120px;
	width: 120px;
}
.user .avatar_and_follow img {
	width: 100%;
	margin: 0;
	padding: 0;
}
.user .avatar_and_follow button {
	min-width: 108px;
	border: none;
	background-color: darkcyan;
}
.user .avatar_and_follow button.followed {
	background-color: burlywood;
}
.user .avatar_and_follow button:hover {
	cursor: pointer;
}
.user * {
	margin: 5px;
	padding: 5px 10px;
	background-color: lightgrey;
}
