.header {
	grid-area: h;
	background-color: #21446f;
}
.header img {
	padding: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.loginContainer {
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 10px;
	height: 100%;
}
.userProfileLink {
	color: white;
}
.logoutBtn {
	background-color: transparent;
	border: none;
	margin-left: 10px;
	color: #a8cbff;
}
