.app-wrapper {
	display: grid;
	max-width: 1200px;
	grid-template-areas:
		'h h'
		'n c';

	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}
.header {
	grid-area: h;
	background-color: green;
}
.header img {
	width: 50px;
}

.nav {
	grid-area: n;
	background-color: orange;
}

.content {
	grid-area: c;
	background-color: red;
}
